:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --primary-text-white: #ffffff;
    --primary-text-blue: #2196f3;
    --accent-color: #2f303a;
    --accent-color-secondary: #f5f5f5;
    --accent-color-logo: #000000;
    --accent-color-link: #212121;
    --accen-color-proj-dir: #757575;
    --accent-colpr-btn-nav: #f5f4fa;
    --accent-color-contacts: rgba(255, 255, 255, 0.6);
    --accent-color-box-background: rgba(0, 0, 0, 0.15);
    --transituin-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --btn--color: rgba(33, 150, 243, 1);
}