body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--accent-color-link);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

input {
  outline: transparent;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.proceedings {
  padding-top: 0;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  // Tablet version

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  // Desktop version

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
