.hero {
  position: relative;
  z-index: 1;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--accent-color);
  text-align: center;

  // Mobile screen
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/hero/img-1_mob@1x.jpg);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/hero/img-1_mob@2x.jpg);
  }
  // Tablet screen
  @media screen and (min-width: 481px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/hero/img-1_tab@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero/img-1_tab@2x.jpg);
    }
  }
  // Desktop screen
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../image/hero/img-1_desk@1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero/img-1_desk@2x.jpg);
    }
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    max-width: 360px;
    line-height: 42px;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding-bottom: 30px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-white);

    @media (min-width: 1200px) {
      font-size: 44px;
      max-width: 696px;
      margin-bottom: 30px;
      line-height: 1.36;
    }
  }

  &__button {
    padding: 10px 24px;
    background-color: var(--primary-text-blue);
    box-shadow: 0px 4px 4px var(--accent-color-box-background);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--primary-text-white);
    cursor: pointer;

    @media (min-width: 1200px) {
      padding: 10px 36px;
    }

    transition-property: background-color, box-shadow, border-radius;
    transition-timing-function: var(--timing-function);
    transition-duration: var(--transituin-duration);

    &:hover,
    &:active {
      background-color: var(--primary-text-blue);
      box-shadow: 0px 4px 4px var(--accent-color-box-background);
      border-radius: 4px;
    }
  }
}
